<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Форма добавления нового владельца</title>
</head>
<body>

<form th:method="POST" th:action="@{/owners}" th:object="${owners}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br>
    <label for="otchestvo">Введите отчество: </label>
    <input type="text" th:field="*{otchestvo}" id="otchestvo">
    <br>
    <input type="submit" value="Добавить"/>
    <br>
    <a href="/owners">Отмена</a>
    <br>
    <a href="/">На главную</a>
</form>

</body>
</html>